 body { 
    background-color: palevioletred;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: right 0;
 }

 header { 
    font-size: medium;
    padding: 10px;
    text-align: center;
 }

 h1 { 
    font-size: medium;
    border-bottom: double 5px pink;
    text-align: center;
 }

 p { 
    font-size: 80px;
    text-align: center;
 }

 iframe video { 
    display: block;
    margin: auto;
    width: 800px;
 }
